Repository zbjaaa1/aries: changes, and which GitLab CI jobs are due for each by the changed paths.
All: wiki, ruff, kernel-kconfig

Path conditions:
  wiki: any of: .ci/**/*, .gitlab-ci.yml, device/*/device-*/*
  ruff: any of: .ci/*, .ci/*/*, .gitlab-ci.yml
  kernel-kconfig: (any of: kconfigcheck.toml) or (any of: device/*/linux-*/config-*)

systemd/plasma*: upgrade to 6.3.4
  extra-repos/systemd/kscreenlocker/APKBUILD
  extra-repos/systemd/kwin/APKBUILD
  extra-repos/systemd/plasma-workspace/APKBUILD
Due: none

main/postmarketos-base-ui: remove "_" from beginning of split functions
  main/postmarketos-base-ui/APKBUILD
Due: none

postmarketos-base{-systemd}: provide postmarketos-base-init
  extra-repos/systemd/postmarketos-base-systemd/APKBUILD
  main/postmarketos-base/APKBUILD
Due: none

main/postmarketos-base{-ui}: move bootsplash dependency to base-ui
  main/postmarketos-base-ui/APKBUILD
  main/postmarketos-base/APKBUILD
Due: none

CI: introduce shell unit-test infra
  .ci/lib/testlib.sh
  .ci/shellcheck.sh
  .ci/unit-tests.sh
  .gitlab-ci.yml
Due: wiki, ruff

CI: shellcheck: allow informative checks to fail
  .ci/shellcheck.sh
Due: wiki, ruff

CI: ignore unreferenced tests/ subdir in packages
  .ci/testcases/test_source.py
Due: wiki, ruff

postmarketos-initramfs: fix caching in find_root/boot_partition
  main/postmarketos-initramfs/init_functions.sh
  main/postmarketos-initramfs/init_functions_2nd.sh
Due: none

postmarketos-initramfs: add unit tests
  .ci/lib/testlib.sh
  main/postmarketos-initramfs/tests/.gitlab-ci.yml
  main/postmarketos-initramfs/tests/01-parse-cmdline.sh
  main/postmarketos-initramfs/tests/02-find-partition.sh
Due: wiki, ruff

postmarketos-initramfs: bump pkgver and fix checksums
  main/postmarketos-initramfs/APKBUILD
Due: none

main/postmarketos-base: don't depend on alpine-base
  main/postmarketos-base/APKBUILD
  pmaports.cfg
Due: none

extra-repos/systemd/alpine-base: remove
  extra-repos/systemd/alpine-base/APKBUILD
Due: none

modem/msm-cros-efs-loader: upgrade to 1.2
  modem/msm-cros-efs-loader/APKBUILD
Due: none

systemd/{mutter,mutter-mobile}: establish provider priorities
  extra-repos/systemd/mutter-mobile/APKBUILD
  extra-repos/systemd/mutter/APKBUILD
Due: none

extra-repos/systemd: systemd/gnome-{shell,shell-mobile}: establish provider priorities
  extra-repos/systemd/gnome-shell-mobile/APKBUILD
  extra-repos/systemd/gnome-shell/APKBUILD
Due: none

1
  device/testing/device-xiaomi-aries/APKBUILD
  device/testing/device-xiaomi-aries/deviceinfo
  device/testing/linux-xiaomi-aries/APKBUILD
  device/testing/linux-xiaomi-aries/config-xiaomi-aries.armv7
Due: wiki, kernel-kconfig
